#circle1 {
  animation-name: cirlce1;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#circle2 {
  animation-name: cirlce2;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes cirlce1 {
  from {
    cy: 0%;
    fill: none;
    stroke: grey;
  }
  to {
    cy: 50%;
    fill: #9284D9;
    stroke: white;
  }
}

@keyframes cirlce2 {
  from {
    cx: 100%;
    fill: none;
    stroke: grey;
  }
  to {
    cx: 52%;
    fill: #9284D9;
    stroke: white;
  }
}